.code-editor-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.code-editor-header {
  display: flex;
  justify-content: flex-end;
}

.code-editor-wrapper {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--color-accent);
  background-color: var(--color-surface);
}
